body{background-color: purple}



h2{text-decoration: overline;}
h1{text-decoration: overline;}
img{width: auto;}
ol{transform-origin: center;}
ul{transform-origin: center;}



header {background-color: red;

}

section{background-color: white;
width: 48%;
float: left;
margin: 1%;
padding: 5px;
box-sizing: border-box;
height: 292px;
overflow: auto;
}

aside{background-color: white;
  width: 48%;
  float: left;
  margin-bottom: 1%;
padding: 5px;
box-sizing: border-box;
height: 290px;
box-sizing: border-box;
overflow: auto;
}

footer{background-color: orange;
clear: both;
margin: 1%;
border: 3px solid black;
overflow: auto;
}

img:hover {
  width: 40%;
  border-radius: 30%;
}

li:hover{
  background-color: red;

}
